@use "./variables" as *;
.create-product-page {
  min-height: 100vh;
  background: linear-gradient(180deg, #e60012 0%, #b8000f 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  font-family: "Segoe UI", sans-serif;
}

.create-product-page h1 {
  color: #fff;
  font-size: 32px;
  text-shadow: 3px 3px 0 #000;
  margin-bottom: 10px;
}

.create-product-page p {
  background: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: 4px 4px 0 #000;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000;
}

.create-product-page strong{
  color: #e60012;
}

.create-product-form {
  background: #ffffff;
  width: 100%;
  max-width: 650px;
  padding: 40px;
  border-radius: 30px;
  border: 6px solid #000;
  box-shadow: 0 15px 0 #8c000c;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.create-product-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #000;
  gap: 8px;
}

.create-product-form input,
.create-product-form textarea {
  padding: 14px;
  border-radius: 18px;
  border: 3px solid #000;
  font-size: 16px;
  background: #f5f5f5;
  box-shadow: 6px 6px 0 #000;
  transition: 0.15s;
}

.create-product-form input:focus,
.create-product-form textarea:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 8px 8px 0 #000;
}

.create-product-form textarea {
  resize: none;
}

.create-product-form button {
  margin-top: 10px;
  background: #ffcc00;
  border: 3px solid #000;
  padding: 16px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 6px 6px 0 #000;
  transition: 0.15s;
}

.create-product-form button:hover {
  transform: translateY(-3px);
  box-shadow: 8px 8px 0 #000;
}

.create-product-form button:active {
  transform: translateY(2px);
  box-shadow: 3px 3px 0 #000;
}