$background-dark: #0b0b12;
$card-dark: #18181f;
$input-dark: #111118;

$primary: #e60012;
$primary-hover: #cc0010;

$text-primary: #ffffff;
$text-secondary: #a1a1aa;
$danger: #ff4d4f;

$radius: 20px; 
$transition: 0.25s ease;